{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %}Create a Fandom{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-info">Select multiple Categories by holding <kbd>ctrl</kbd> (on Windows) or 
				<kbd>cmd</kbd> (on a Mac) while clicking applicable items.
			</h4>
		</div>
	</div>
	{# form(form) #}
	
	{{ form_start(form) }}
	    {# render the task's only field: description #}
	    {{ form_row(form.title) }}
	
	   {{ form_label(form.parents) }}
	    <ul class="parents list-unstyled" data-prototype="{{ form_widget(form.parents.vars.prototype)|e }}">
	        {# iterate over each existing tag and render its only field: name #}
	        <!--{% for parent in form.parents %}
	            <li>{# form_row(parent.id) #}</li>
	        {% endfor %} -->
	    </ul>
	    
	    {{ form_row(form.fandom_type) }}
	    
	    {{ form_row(form.categories) }}
	    
	    {{ form_row(form.description) }}
	    
	    {{ form_row(form._token) }}
	    
	    {{ form_row(form.Save) }}
	{{ form_end(form, {'render_rest': false}) }}
	
	<script type="text/javascript">
		var $collectionHolder;
		
		//setup an "add a tag" link
		var $addParentLink = $('<a href="#" class="add_fandom_parent_link btn btn-primary btn-sm">Add a Parent</a>');
		var $newLinkLi = $('<li></li>').append($addParentLink);
		
		jQuery(document).ready(function() {
		 // Get the ul that holds the collection of tags
		 $collectionHolder = $('ul.parents');

		 //add a delete link to all of the existing parent form li elements
		 $collectionHolder.find('li').each(function () {
		 	addParentFormDeleteLink($(this));
		 });
		
		 // add the "add a tag" anchor and li to the tags ul
		 $collectionHolder.append($newLinkLi);
		
		 // count the current form inputs we have (e.g. 2), use that as the new
		 // index when inserting a new item (e.g. 2)
		 $collectionHolder.data('index', $collectionHolder.find(':input').length);
		
		 $addParentLink.on('click', function(e) {
		     // prevent the link from creating a "#" on the URL
		     e.preventDefault();
		
		     // add a new tag form (see next code block)
		     addParentForm($collectionHolder, $newLinkLi);
		 });
		});
	
		function addParentForm($collectionHolder, $newLinkLi) {
		    // Get the data-prototype explained earlier
		    var prototype = $collectionHolder.data('prototype');
	
		    // get the new index
		    var index = $collectionHolder.data('index');
	
		    // Replace '__name__' in the prototype's HTML to
		    // instead be a number based on how many items we have
		    var newForm = prototype.replace(/__name__/g, index);
	
		    // increase the index with one for the next item
		    $collectionHolder.data('index', index + 1);
	
		    // Display the form in the page in an li, before the "Add a tag" link li
		    var $newFormLi = $('<li></li>').append(newForm);
		    $newLinkLi.before($newFormLi);

		    addParentFormDeleteLink($newFormLi);
		}

		function addParentFormDeleteLink($parentFormLi)
		{
			var $removeFormA = $('<a href="#">X</a>');
			$parentFormLi.append($removeFormA);

			$removeFormA.on('click', function(e) {
				e.preventDefault();

				$parentFormLi.remove();
			});
		}
	</script>
{% endblock %}