{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %}Your Fandoms{% endblock %}

{% block body %}
	<div class="row bottom-buffer-10">
		<div class="col-md-2 col-md-offset-10">
			<a href="{{ path('create_fandom') }}" class="btn btn-primary pull-right">
				Create Test
			</a>
		</div>
	</div>
	{% for fandom in fandoms %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row ">
					<div class="col-md-6">
						<span class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
								Actions
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" >
								{% if fandom.fandomType.id == 1 and fandom.chapters|length > 0 %}
									<li role="presentation">
										<a role="menuitem" tabindex="-1" href="{{ path('view_chapter', {'fandomId': fandom.id, 'chapterNumber': 1}) }}">
											Read
										</a>
									</li>
								{% endif %}
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{{ path('edit_fandom', {'fandomId': fandom.id}) }}">
										Edit
									</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{{ path('view_fandom', {'fandomId': fandom.id}) }}">
										View Fandom
									</a>
								</li>
							</ul>
						</span>
						<strong class="text-capitalize h3 vertical-center">
							{{ fandom.title }}
							{# fandom.updatedAt|localizeddate('medium', 'none') #}
						</strong>
					</div>
					<div class="col-md-6 text-right">
						<strong class="text-capitalize h4 vertical-center">
							{{ fandom.fandomType.name }}
						</strong>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p>{{ fandom.description|e|markdown }}</p>
			</div>
			<div class="panel-footer">
				<strong><em>Created:</em></strong> {{ fandom.createdAt|localizeddate('medium', 'short') }}
				{% if fandom.fandomType.id == 1 %}
					<strong><em>Chapters:</em></strong> {{ fandom.chapters|length }}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}