{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %} {{ fandom.title }} {% endblock %}

{% block body %}
	<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<strong class="text-capitalize h3">
							{{ fandom.title }} <small><span class="h5">by</span> <em class="h4">{{ fandom.user.username }}</em>  <span class="h5">on </span><span class="h5">{{ fandom.updatedAt|localizeddate('medium', 'none') }}</span></small>
						</strong>
					</div>
					<div class="col-md-6 text-right">
						<strong class="text-capitalize h4">
							{{ fandom.fandomType.name }}
						</strong>
					</div>
				</div>
			</div>	
			<div class="panel-body">				
				<p>
					<a href="{{ path('view_fandom_children', {'fandomId': fandom.id, 'page': 1}) }}" class="">
						View Extending Fandoms
					</a>
					{% if fandom.fandomType.id == 1 and fandom.chapters|length > 0 %}
						<a href="{{ path('view_chapter', {'fandomId': fandom.id, 'chapterNumber': 1}) }}" class="">
							Read
						</a>
					{% endif %}
				</p>
				<hr />
				<p>{{ fandom.description|e|markdown }}</p>
					{% if fandom.parents is not empty %}
						<hr />
						{% for parent in fandom.parents %}
							<span> | </span>
							<em>
								<a href="{{ path('view_fandom', {'fandomId': parent.id}) }}" class="">
									{{ parent.title }}
								</a>
							</em>
						{% endfor %}
					{% endif %}
			</div>
			<div class="panel-footer">
				<strong><em>Created:</em></strong> {{ fandom.createdAt|localizeddate('medium', 'short') }}
				{% if fandom.fandomType.id == 1 %}
					<strong><em>Chapters:</em></strong> {{ fandom.chapters|length }}
				{% endif %}
			</div>
		</div>
		
		
	<!--{% for child in fandom.children %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<strong class="text-capitalize h3">
							{{ child.title }} <small><span class="h5">by</span> <em class="h4">{{ child.user.username }}</em>  <span class="h5">on </span><span class="h5">{{ child.updatedAt|localizeddate('medium', 'none') }}</span></small>
						</strong>
					</div>
					<div class="col-md-6 text-right">
						<strong class="text-capitalize h4">
							{{ child.fandomType.name }}
						</strong>
					</div>
				</div>
			</div>	
			<div class="panel-body">				
				<p>{{ child.description|e|markdown }}</p>
					{% if child.parents is not empty %}
						<hr />
						{% for parent in child.parents %}
							<span> | </span>
							<em>
							{% if parent.fandomType.id == 1 %}
									<a href="{{ path('view_fandom', {'fandomId': parent.id}) }}" class="">
										{{ parent.title }}
									</a>
							{% else %}
								
							{% endif %}
							</em>
						{% endfor %}
					{% endif %}
			</div>
			<div class="panel-footer">
				<strong><em>Created:</em></strong> {{ child.createdAt|localizeddate('medium', 'short') }}
				{% if child.fandomType.id == 1 %}
					<strong><em>Chapters:</em></strong> {{ child.chapters|length }}
				{% endif %}
			</div>
		</div>
	{% endfor %}-->
{% endblock %}