{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %}Edit a Chapter{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-danger text-center">
	        <h4>{{ flashMessage|raw }}</h4>
	    </div>
	{% endfor %}
	{% if form and fandom %}
		<h3><a href="{{ path('edit_fandom', {'fandomId': fandomId}) }}"> 
			Edit Fandom
		</a></h3>
		<h1>{{ fandom }}: {{ chapter }}</h1>
		{{ form(form) }}
	{% endif %}
{% endblock %}