{% extends 'FictionAppBundle:Base:layout.html.twig' %}

{% block title %} {# world.title #} {% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-warning text-center">
	        <h4>{{ flashMessage|raw }}</h4>
	    </div>
	{% endfor %}
	{% for world in worlds %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<strong class="text-capitalize h3">
							<a href="{{ path('view_world', {'worldId': world.id}) }}" class="">
								{{ world.title }}
							</a> 
							<small>
								<span class="h5">by</span> 
								<em class="h4">{{ world.user.username }}</em>  
								<span class="h5">on </span>
								<span class="h5">{{ world.updatedAt|localizeddate('medium', 'none') }}</span>
							</small>
						</strong>
					</div>
					<div class="col-md-6 text-right">
						<strong class="text-capitalize h4">
							{{ world.worldType.name }}
						</strong>
					</div>
				</div>
			</div>	
			<div class="panel-body">				
				<p>
					{{ world.description|e|nl2br }}
				</p>
					{% if world.parents is not empty %}
						<hr />
						{% for parent in world.parents %}
							<span> | </span>
							<em>
								<a href="{{ path('view_world', {'worldId': parent.id}) }}" class="">
									{{ parent.title }}
								</a></em>
						{% endfor %}
					{% endif %}
			</div>
			<div class="panel-footer">
				<strong><em>Created:</em></strong> {{ world.createdAt|localizeddate('medium', 'short') }}
				{# {% if world.worldType.id == 1 %}
					<strong><em>Chapters:</em></strong> {{ world.chapter_count }}
				{% endif %} #}
			</div>
		</div>
	{% endfor %}
	<ul class="pagination">
		{% for p in paginator.page %}
			<li>
				<a href="{{ path('view_world_children', {'worldId': worldId,'page': p}) }}" class="">
					{{ paginator.label[loop.index0] }}
				</a>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}